h1{
    color: pink;

}
.box{
    background: black;
    height: 100px;
    width: 200px;
    margin-left: 500px;
}

.box-dua{
    background: black;
    height: 100px;
    width: 200px;
    margin-left: 500px;
}